body {
	background-color: #44445f;
	margin: 0;
}

.topnav {
    background-color: #d9d9d9;
    overflow: hidden;
}

.topnav a {
	float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
    background-color: #a6a6a6;
    color: #ffffff;
}

.topnav a.active {
	background-color: #0000ff;
    color: #ffffff;
}

.header {
	padding: 80px;
    text-align: center;
    background: #00a4ff ;
    color: white;
}

* {
	box-sizing: border-box;
}

.content {
	display: flex;
    flex-wrap: wrap;
}

.side {
	flex: 10%;
	background-color: #fafafa;
	padding: 20px;
	color: #ffffff;
	height: 100%;
}
.side a {
	float: left;
    color: #ffffff;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
	font-size: 17px;
	height: 100%;
}

.main { 
    flex: 90%;
    background-color: #44445f;
    padding: 20px;
	color: #ffffff;
	height: 100%;
}
